/* Write your global styles here, in PostCSS syntax */
@import '@fontsource/roboto';

@tailwind base;

:root {
  font-family: Roboto, system-ui, sans-serif;
}

body {
  transition: background-color 0.3s
}

@tailwind components;
@tailwind utilities;
